.profile__info {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 28px;
  max-width: 500px;
}

@media screen and (max-width: 602px) {
  .profile__info {
    justify-content: center;
    margin: 0;
    max-width: 300px;
  }
}

@media screen and (min-width: 483px) and (max-width: 656px) {
  .profile__info {
    justify-content: center;
    max-width: 400px;
  }
}