.page {
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  max-width: 936px; 
  min-width: 320px;
  padding: 0 27px;
  width: 100%;
}

@media screen and (max-width: 482px) {
  .page {
    margin-top: 28px;
    padding: 0;
  }
}