.profile__description {
  flex-basis: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  max-width: 318px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 482px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}