.content-form__description {
  border: 0;
  border-bottom: 1px solid #dbd9d9;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  width: 358px;
}

@media screen and (max-width: 320px) {
  .content-form__description {
    width: 236px;
  }
}