.popup__close-button {
  background: none;
  background-image: url(../../../images/close-icon.svg);
  background-size: cover;
  border: 0;
  box-sizing: border-box;
  height: 40px;
  padding: 0;
  position: absolute;
  right: -35px;
  top: -39px;
  width: 40px;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 482px) {
  .popup__close-button {
    height: 30px;
    right: -22px;
    top: -25px;
    width: 30px;
  }
}