.close-popup-button__image {
  height: 40px;
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translate(0, -50%);
  width: 40px;
}

@media screen and (max-width: 320px) {
  .close-popup-button__image {
    height: 26px;
    width: 26px;
  }
}