.card__like-counter {
    color: #000;
    display: inline;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
  }